<aside class="sitebottom">
  <div class="row container">
    <div class="columns medium-4">
      <h3><a href="/mindent-az-apnoerol/">Mindent az apnoéról</a></h3>
      <ul>
        <li><a href="/mindent-az-apnoerol/alvasi-apnoe/">Mi az az alvási apnoé?</a></li>
        <li><a href="/mindent-az-apnoerol/tunetek/">Alvási apnoé tünetei</a></li>
        <li><a href="/mindent-az-apnoerol/veszelyek/#">Veszélyek és kockázatok</a></li>
        <li><a href="/mindent-az-apnoerol/alvasi-apnoe-teszt/">Apnoé teszt</a></li>
        <li><a href="/intezmenyek/">Hol kaphat segítséget</a></li>
      </ul>
    </div>
    <div class="columns medium-4">
      <h3><a href="/apnoe-gyogyitasa/">Alvási apnoéja van?</a></h3>
      <ul>
        <li><a href="/apnoe-gyogyitasa/elso-lepesek/">Első lépések a gyóggyulás felé</a></li>
        <li><a href="/apnoe-gyogyitasa/kezelesi-modszerek/">Kezelési lehetőségek</a></li>
        <li><a href="/apnoe-gyogyitasa/terapias-eszkozok/">Terápiás eszközök</a></li>
        <li><a href="/apnoe-gyogyitasa/cpap-hasznalata/">Készülék használata</a></li>
      </ul>
    </div>
    <div class="columns medium-4">
      <h3>Hova forduljon panaszaival</h3>
      <p>Eos provident recusandae optio maxime dignissimos? Molestias id, blanditiis reiciendis culpa dolores et incidunt nobis iusto, quos dolor animi officiis dignissimos facilis.</p>
      <a href="/intezmenyek/" class="button small">Intézmények listája</a>
    </div>
  </div>
</aside>
