<!-- JS -->

<!-- build:js /dist/assets/javascript/libraries.js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/what-input/what-input.js"></script>
<script src="/bower_components/wow/dist/wow.js"></script>
<script src="bower_components/foundation-sites/dist/foundation.js"></script>
<script src="/bower_components/owl.carousel/dist/owl.carousel.js"></script>
<script src="/bower_components/isotope/dist/isotope.pkgd.js"></script>
<script src="/bower_components/imagesloaded/imagesloaded.js"></script>
<!-- endbuild -->

<!-- inject:js -->
<script src="/assets/javascript/index.js"></script>
<!-- endinject -->

