<footer class="sitefooter grayblock">
  <div class="row container">
    <div class="columns medium-4 large-4">
      <img src="assets/images/logo.png" alt="">
    </div>
    <div class="columns medium-8 large-8">
      <h3>Kövess minket</h3>
      <p>Instagram meg facebook link, telefonszám. Valami hirlevél feliratkozás esetleg?</p>
    </div>
  </div>

  <div class="row container">
    <div class="columns">
      <p class="copyright">&copy; 2015 <strong>Dog Days Yoga Wear</strong> &middot; All rights reserved &middot; Site by <a href="http://hydrogene.hu"><strong>HYDROGENE</strong></a></p>
    </div>
  </div>
</footer>
