<header class="siteheader">

  <div class="row container fullwidth">
    <div class="columns medium-4">
      <a class="sitelogo" href="/">Dog Days Yoga Wear</a>
    </div>
    <div class="columns medium-8">
      <nav class="sitenav">
        <ul class="menu menu--sitemenu">
          <li>
            <a href="#miert-dogdays" {% if page.url == '/apnoe-gyogyitasa/' %}class="active" aria-selected="true"{% endif %}>Miért Dogdays</a>
          </li>
          <li>
            <a href="#galeria" {% if page.url == '/apnoe-gyogyitasa/' %}class="active" aria-selected="true"{% endif %}>Galéria</a>
          </li>
          <li>
            <a href="#vasarlas" {% if page.url == '/intezmenyek/' %}class="active" aria-selected="true"{% endif %}>Hol kapható</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

</header>
