<header class="siteheader">

  <div class="row container">
    <div class="columns small-6 medium-2">
      <a class="sitelogo" href="/">Alvási<span>apnoé</span></a>
    </div>
    <div class="columns medium-10">
      <a href="/mindent-az-apnoerol/alvasi-apnoe-teszt/" class="button small siteheader__cto">Apnoe teszt</a>
      <nav class="sitenav">
        <ul class="menu menu--sitemenu">
          <li>
            <a href="/mindent-az-apnoerol/" {% if page.url == '/mindent-az-apnoerol/' %}class="active" aria-selected="true"{% endif %}>Ismerje fel</a>
          </li>
          <li>
            <a href="/apnoe-gyogyitasa/" {% if page.url == '/apnoe-gyogyitasa/' %}class="active" aria-selected="true"{% endif %}>Apnoé kezelése</a></li>
          <li>
            <a href="/intezmenyek/" {% if page.url == '/intezmenyek/' %}class="active" aria-selected="true"{% endif %}>Hol segítenek</a>
            </li>
        </ul>
      </nav>

    </div>
  </div>

</header>
