<header class="hero ps" role="banner">
  <div class="row container">
    <div class="columns">
      <div class="hero__content">
          <h2 class="hero__title">Lorem ipsum dolor sit amet</h2>
          <p class="hero__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore fuga magni necessitatibus debitis, esse quidem error cumque minus eligendi provident omnis rerum placeat.</p>
          <a href="#" class="button">Klikkelj ide barátom</a>
      </div>
    </div>
  </div>
</header>