<header class="hero hero--home" role="banner">
  <div class="row container">
    <div class="columns medium-10 medium-centered large-centered large-10 xlarge-8 xxlarge-6">
      <div class="hero__content">
          <h2 class="hero__title">Mozogj szabadon és magabiztosan</h2>
          <p class="hero__text">Jóga és sportruházat <span>a legizzasztóbb mozgásformákhoz,</span> hogy mostantól  korlátok nélkül csak magadra koncentrálhass</p>
          <a href="#" class="hero__more button">Felfedezés indul</a>
      </div>
    </div>
  </div>
</header>