<nav class="subnav" role="navigation">
  <div class="row container">
    <div class="columns">
      <ul class="tabs tabs--submenu" data-tabs>
        <li class="tabs-title">
          <a href="/mindent-az-apnoerol/" {% if page.url == '/mindent-az-apnoerol/' %}class="active" aria-selected="true"{% endif %}>
            Mindent az apnoéról
          </a>
        </li>
        <li class="tabs-title">
          <a href="/mindent-az-apnoerol/alvasi-apnoe/" {% if page.url == '/mindent-az-apnoerol/alvasi-apnoe/' %}class="active" aria-selected="true"{% endif %}>
            Alvási apnoé
          </a>
        </li>
        <li class="tabs-title">
          <a href="/mindent-az-apnoerol/tunetek/" {% if page.url == '/mindent-az-apnoerol/tunetek/' %}class="active" aria-selected="true"{% endif %}>
            Tünetek
          </a>
        </li>
        <li class="tabs-title">
          <a href="/mindent-az-apnoerol/veszelyek/" {% if page.url == '/mindent-az-apnoerol/veszelyek/' %}class="active" aria-selected="true"{% endif %}>
            Veszélyek
          </a>
        </li>
        <li class="tabs-title">
          <a href="/mindent-az-apnoerol/alvasi-apnoe-teszt/" {% if page.url == '/mindent-az-apnoerol/alvasi-apnoe-teszt/' %}class="active" aria-selected="true"{% endif %}>
            Teszt
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>