.sitefooter {
  padding: 4rem 0 2rem;
}

.bottomblock {
  position: relative;
  overflow: hidden;
  > .container {
    border-top:1px solid rgba($secondary-color,.125);
  }
}
.bottomlogo {
  display: block;
  margin: 6rem auto 3rem;
  transform:scale(1.333);

  // position: absolute;
  // top:-10%;
  // left:66.666%;
  // //transform: translate()
  // //float:right;
  // display: block;

  // height:50%;
  // max-width: none;
  // width:auto;

}

.copyright {
  margin:4rem 0 0;
}