.hero {
  position: relative;

  background-color: #ababab;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  //min-height: 30rem;

  @include breakpoint(medium) {
    height: 100vh;
    min-height: 35rem;
    max-height: 45rem;
  }
}


.hero__content {
  text-align: center;
  margin: 8rem auto 2rem;
  padding: 1rem 1rem;

  background-color: rgba($white,.66);

  @include breakpoint(medium) {
    margin:2rem auto 0;
    padding: 2rem 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    //max-width: 90%;
    transform: translate(-50%, -50%);
  }
  @include breakpoint(large) {
    padding: 2rem 2rem;
    max-width: 66.666%;
  }
  @include breakpoint(xlarge) {
    max-width: 50%;
  }
}

.hero--home {
  background-image: url('../images/homehero.jpg');
}

.hero__more {
  margin-bottom: 0;
}

.hero__title {
  color:$primary-color;
  //font-weight: $global-weight-bold;
  margin-top: 0;
  text-transform: uppercase;
  @include breakpoint(medium) {
    font-size: 3rem;
  }
}

.hero__text {
  font-size: 1.25rem;
  @include breakpoint(medium) {
    font-size: 1.5rem;
  }
}