---
layout: default
permalink: /mindent-az-apnoerol/alvasi-apnoe/
class: ccol-1
title: Az alvási apnoé
subtitle: Leggyakoribb alvásfüggő légzészavar
---
{% include hero.html %}

{% include subnav-apnoe.html %}

<main class="main" role="main">
  <section class="ps">
    <div class="row container">
      <div class="columns large-8">
        <h2 class="page__subtitle">{{page.subtitle}}</h2>
        <h1 class="page__title">{{page.title}}</h1>
        <p class="lead">Az izmok, amelyeket napközben megfeszítünk, hogy kinyissák a torkot, alvás közben ellazulnak. Ez az ernyedt állapot a torok kismértékű szűküléséhez vezet, amely a legtöbb ember számára nem okoz problémát.</p>
        <h3>Túlzott légúti szűkület alvás közben</h3>
        <p>Az alvási apnoé szindrómában szenvedők esetében azonban ez a légúti szűkület olyan nagymértékű, hogy a légzés nehézzé válik, esetenként ki is hagy, és az alvó 10 másodpercet meghaladó ideig nem jut levegőhöz. Ilyenkor érzékeli, hogy a légzés nehézségekbe ütközik és a szervezet nem jut elég oxigénhez, ezért növeli az érdekében kifejtett erőt. Ez a fokozott igénybevétel végül felébreszti az alvót,  aktivizálja a torok izmait, így ismét megnyílik a légút.</p>
        <h3>Ciklikus felébredés és visszaalvás</h3>
        <p>Az újra felszabadult légút hatására a légzés érdekében kifejtett erő csökken, és az illető visszaalszik. Ez az elalvás-torokszűkület-megnövekedett légzési erőkifejtés-felébredés ciklus újra és újra lejátszódik az éjszaka folyamán, megzavarva az alvást néhány tucat, esetenként több száz alkalommal is. Ezek az ébrenlétek általában olyan rövidek, hogy reggelre nem marad emlék róluk. A következményeik azonban jelentősek, hiszen megakadályozzák a pihentető mélyalvást.</p>
        <h3>Nappali fáradtsághoz, ingerlékenységhez vezet</h3>
        <p>Az tekinthető tehát alvási apnoéban szenvedő betegnek, aki ilyen jellegű akadályozott légzéssel, rövid ébredések sorozatával, és olyan napközbeni tünetekkel szembesül, mint az állandó fáradtság, álmosság, ingerlékenység, a koncentrációs képesség jelentős csökkenése.</p>
      </div>
      <div class="columns large-4 ">
        <div class="card bginverse">
          <header class="card__head">
            <h3 class="card__title"><a href="#">Ismerje fel a tüneteket</a></h3>
            <p class="card__excerpt">A családtagok, munkáltatók és munkatársak lehetnek az elsők, akik felfedezik a fokozott aluszékonyságot, illetve a hangulatban és a viselkedésben beállt változásokat, éppen ezért ők azok, akik szorgalmazhatják a kezelőorvos felkeresését.</p>
            <a href="/mindent-az-apnoerol/tunetek/" class="card__more">Megismerem a tüneteket</a>
          </header>
          <figure class="card__fig">
            <a href="/mindent-az-apnoerol/tunetek/"><img src="http://lorempixel.com/640/320" alt=""></a>
          </figure>
<!--           <footer class="card__foot">
            <a href="#" class="card__more">Megismerem a tüneteket</a>
          </footer> -->
        </div>
      </div>
    </div>
  </section>

  <section class="ps bginverse">
    <div class="row container">
      <div class="columns large-8">
        <h2>Alvási apnoé típusai</h2>
        <p class="lead">Az alvási apnoénak két nagy csoportját különbözetjük a garat viselkedése alapján, az obstruktív és a centrális alvási apnoét.</p>
      </div>
    </div>
    <div class="row container">
      <div class="columns medium-6">
        <p><img src="http://placehold.it/640x320" alt=""></p>
        <h3>Obstruktív alvási apnoé</h3>
        <p>Az obstruktív alvási apnoé olyan alvásfüggő légzészavar, amelynek során alvás alatt a garatizmok ellazulása következtében a felső légút annyira beszűkül, hogy 10 másodpercet meghaladó ideig egyáltalán nem jut át rajta levegő (apnoé).</p>
      </div>

      <div class="columns medium-6">
        <p><img src="http://placehold.it/640x320" alt=""></p>
        <h3>Centrális alvási apnoé</h3>
        <p>A garat elzáródása nélkül jön létre. Ilyenkor a beteg nem azért nem kap levegőt, mert valami elzárja a légáramlás útját, hanem azért, mert az agy nem ad parancsot a levegővételre. Ez utóbbi esetében ezért nem a fent említett reflex alulműködése, hanem a központi idegrendszer egy hibás funkciója áll a háttérben.</p>
      </div>

    </div>

    <div class="row container">
      <div class="columns medium-6">
        <p><a href="/mindent-az-apnoerol/tunetek/" class="button small">A betegség tünetei</a></p>
      </div>
    </div>

  </section>


</main>
