---
layout: default
permalink: /apnoe-gyogyitasa/cpap-hasznalata/
class: ccol-2
title: CPAP készülékek használata
subtitle: Helyes használatról
---
{% include hero.html %}

{% include subnav-apnoegyogyitasa.html %}

<main class="main" role="main">
  <section class="ps">
    <div class="row container">
      <div class="columns large-8">
        <h2 class="page__subtitle">{{page.subtitle}}</h2>
        <h1 class="page__title">{{page.title}}</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum, officiis ut! Recusandae numquam qui libero reiciendis, eum accusantium soluta impedit ipsam cumque error maiores, inventore fuga, quae esse sit. Dolorem.</p>
        <p>Nulla vitae elit libero, a pharetra augue. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet.</p>
      </div>
      <div class="columns large-4">
        <div class="card bginverse">
          <header class="card__head">
            <h3 class="card__title"><a href="#">Innen hova menjünk?</a></h3>
            <p class="card__excerpt">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, nobis quaerat temporibus eveniet ullam libero doloribus culpa in aperiam ab explicabo odio deleniti consectetur.</p>
            <a href="#" class="card__more">hova, hova hova</a>
          </header>

          <figure class="card__fig">
            <a href="/apnoe-gyogyitasa/terapias-eszkozok/"><img src="http://placehold.it/640x320" alt=""></a>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="ps bginverse">
    <div class="row container">
      <div class="columns large-10">
        <h2>Tanácsok a helyes készülékhasználathoz</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae perferendis magni culpa nam sed. Nobis laudantium, omnis ipsa id velit consequuntur facilis aperiam veniam sequi iusto aspernatur voluptate enim, commodi.</p>
      </div>
    </div>
    <div class="row container">
      <div class="columns">

        <div class="row small-up-1 medium-up-2">
          <div class="column">
            <h3>Ne a készüléket hibáztassa</h3>
            <p>A CPAP-terápia használata során előfordul, hogy felmerülnek panaszok, mint a száj vagy az orr kiszáradása, a gép zajossága, bőrirritáció vagy túl erős légnyomásérzet. Azonban a légnyomás beállításával, a készülékhez tartozó párásító használatával, a legmegfelelőbben illeszkedő orr- vagy arcmaszk kiválasztásával ezek mindegyike orvosolható.</p>
          </div>
          <div class="column">
            <h3>Használja rendszeresen</h3>
            <p>Ha nem használja a légsínterápiás készüléket? Lorem ipsum dolor sit amet, consectetur adipisicing elit. súlyosabb mértékűvé teszi a légzéskimaradásokat.</p>
          </div>
          <div class="column">
            <h3>Lorem ipsum dolor tók használatát!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.ait, ígygyengítve a légzést, és rontva az apnoés beteg állapotát. Kivételt képezhetnek azok a páciensek, akiket gyakori, nem OSA eredetű ébredések is sújtanak.</p>
          </div>
          <div class="column">
            <h3>Lorem ipsum dolor gyszerhasználatra!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. gyógyszerek befolyásolhatják alvását és légzését.</p>
          </div>
          <div class="column">
            <h3>Lorem ipsum dolor sán fekve aludjon!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.maradás, ha a hátán alszik. A hát mögé erősített párnák, vagy egy teniszlabda a pizsama hátsó oldalára rögzítve egész éjszakára megakadályozhatják a háton fekve alvást.</p>
          </div>
          <div class="column">
            <h3>Lorem ipsum dolor a légutakat!</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. horkolás, mint a légzéskimaradások  csökkentésében.</p>
          </div>


        </div>


      </div>
    </div>
  </section>

  <section class="ps bgxlight">
    <div class="row container">
      <div class="columns large-10 large-centered text-center">
        <h2>Hódítsa meg újra a nappalokat</h2>
        <p class="lead">A helyes készülékhasználattal ismét Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil inventore, cum, nostrum suscipit voluptates ennek tapasztalni fogja az javulást</p>
      </div>
    </div>
    <div class="row container">
      <div class="columns text-center">
        <div class="row small-up-1 medium-up-2 large-up-3">
          <div class="column">
            <div class="igraf">
              <figure class="igraf__fig">
                <img src="http://placehold.it/640x640" alt="">
              </figure>
              <h4>Kiegyensúlyozott szexuális élet</h4>
            </div>
          </div>
          <div class="column">
            <div class="igraf">
              <figure class="igraf__fig">
                <img src="http://placehold.it/640x640" alt="">
              </figure>
              <h4>Jobb munkahelyi stressztűrés</h4>
            </div>
          </div>
          <div class="column">
            <div class="igraf">
              <figure class="igraf__fig">
                <img src="http://placehold.it/640x640" alt="">
              </figure>
              <h4>Jobb teljesítőképesség</h4>
            </div>
          </div>
          <div class="column">
            <div class="igraf">
              <figure class="igraf__fig">
                <img src="http://placehold.it/640x640" alt="">
              </figure>
              <h4>Kevesebb egészségügyi kockázat</h4>
            </div>
          </div>
          <div class="column">
            <div class="igraf">
              <figure class="igraf__fig">
                <img src="http://placehold.it/640x640" alt="">
              </figure>
              <h4>Általános jobb fizikum</h4>
            </div>
          </div>
          <div class="column">
            <div class="igraf">
              <figure class="igraf__fig">
                <img src="http://placehold.it/640x640" alt="">
              </figure>
              <h4>Mentálhigiénia</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ps bginverse">
    <div class="row container">
      <div class="columns large-10">
        <h2>Hogyan juthatok hozzá</h2>
        <p class="lead">Nem olcsó mulatság. Orvos kivizsgál és felírhatja. TB-re megvehető Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi repellendus voluptates nihil. Árakról és részletekről a forgalmazó oldalán tájékozódhat</p>
        <a href="#" class="button" target="_blank">Ugrok a forgalmazó oldalára</a>

      </div>
    </div>
  </section>


</main>
