---
layout: default
permalink: /apnoe-gyogyitasa/elso-lepesek/
class: ccol-2
title: Apnoéval diagnosztizálták?
subtitle: Éljen teljes életet

---
{% include hero.html %}

{% include subnav-apnoegyogyitasa.html %}

<main class="main" role="main">
  <section class="ps">
    <div class="row container">
      <div class="columns large-8">
        <h2 class="page__subtitle">{{page.subtitle}}</h2>
        <h1 class="page__title">{{page.title}}</h1>
        <p class="lead">Mire számíthat, ne keseredjen el élhet teljes életet a jól kezelhető satöbbi. Lorem ipsum dolor sit amet, consectetur adipisicing elit provident.</p>
        <p>Az alvási apnoe jól kezelhető. A páciens sokszor már a kezelés kezdetén érzi a vele járó előnyöket, mint például az aluszékonyság és a fáradtság csökkenését és a jobb kedélyállapotot.</p>
      </div>
      <div class="columns large-4">
        <div class="card bginverse">
          <header class="card__head">
            <h3 class="card__title"><a href="/apnoe-gyogyitasa/kezelesi-modszerek/">Milyen kezelési módszerek léteznek?</a></h3>
            <p class="card__excerpt">Amennyiben a műszeres alvásvizsgálat során Önnél közepes vagy súlyos obstruktív alvási apnoe szindrómát állapítottak meg, kezelőorvosa az alábbi terápiás megoldásokat javasolhatja.</p>
            <a href="/apnoe-gyogyitasa/kezelesi-modszerek/" class="card__more">Kezelési módszerek</a>
          </header>

          <figure class="card__fig">
            <a href="/apnoe-gyogyitasa/kezelesi-modszerek/"><img src="http://placehold.it/640x320" alt=""></a>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="ps bginverse">
    <div class="row container">
      <div class="columns">
        <h2>Első lépések a gyógyulás felé vezető úton</h2>
        <p class="lead">Ha az obstruktív alvási apnoéja nem súlyos fokú, az általános <a href="#">alváshigéniai szokásokon</a> túl, az alábbi módszerekkel és életmódbeli változtatásokkal segíthet az állapotán.</p>
      </div>
    </div>

    <div class="row container">
      <div class="columns">

        <div class="row small-up-1 medium-up-2">
          <div class="column">
            <h3>Csökkentse testsúlyát</h3>
            <p>Már a kismértékű súlyveszteség –például 10 kgmínusz egy 100 kg testsúlyú páciens esetén, akinek 80 kg körül lenne az ideális testsúlya- javíthat az alvás közbeni légzés minőségén.</p>
          </div>
          <div class="column">
            <h3>Kerülje az alkoholfogyasztást!</h3>
            <p>Az alkohol ugyanis gyengíti a légzést, valamint gyakoribbá és súlyosabb mértékűvé teszi a légzéskimaradásokat.</p>
          </div>
          <div class="column">
            <h3>Kerülje az altatók használatát!</h3>
            <p>Az altatók, az alkoholhoz hasonlóan, elernyesztik a torok izmait, ígygyengítve a légzést, és rontva az apnoés beteg állapotát. Kivételt képezhetnek azok a páciensek, akiket gyakori, nem OSA eredetű ébredések is sújtanak.</p>
          </div>
          <div class="column">
            <h3>Figyeljen a gyógyszerhasználatra!</h3>
            <p>A fejfájásra, szorongásra és más gyakori problémára felírható gyógyszerek befolyásolhatják alvását és légzését.</p>
          </div>
          <div class="column">
            <h3>Oldalán vagy hasán fekve aludjon!</h3>
            <p>Néhány embernél csak akkor jelentkezik a jellegzetes légzéskimaradás, ha a hátán alszik. A hát mögé erősített párnák, vagy egy teniszlabda a pizsama hátsó oldalára rögzítve egész éjszakára megakadályozhatják a háton fekve alvást.</p>
          </div>
          <div class="column">
            <h3>Tartsa tisztán a légutakat!</h3>
            <p>Az orr átjárhatóságát segítő gyógyszerek is segíthetnek úgy a horkolás, mint a légzéskimaradások  csökkentésében.</p>
          </div>


        </div>


      </div>
    </div>



    <div class="row container">
      <div class="columns medium-6">
        <p><a href="/apnoe-gyogyitasa/kezelesi-modszerek/" class="button small">Orvosi kezelések és módszerek</a></p>
      </div>
    </div>

  </section>



</main>
