---
layout: default
regenerate: true
bodyclass: home
---

{% include hero.html %}

<main class="main" role="main">
  <section class="ps">
    <div class="row container">
      <div class="columns">

        <div class="row small-up-1 medium-up-2 large-up-3 cardblock">
          <div class="column ccol-1">
            <div class="card bginverse">
              <header class="card__head">
                <h3 class="card__title"><a href="/mindent-az-apnoerol/">Ismerje fel az alvási apnoét</a></h3>
                <p class="card__excerpt">Az alvási apnoe a közúti balesetek több mint 30% ának az okozója</p>
                <a href="/mindent-az-apnoerol/alvasi-apnoe/" class="card__more">Mindent az aponoéról</a>
              </header>

              <figure class="card__fig">
                <a href="/mindent-az-apnoerol/"><img src="http://placehold.it/640x320" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="column ccol-2">
            <div class="card bginverse">
              <header class="card__head">
                <h3 class="card__title"><a href="/apnoe-gyogyitasa/">Már diagnosztizáltak önnél?</a></h3>
                <p class="card__excerpt">Ne aggódjon itt mindent megtalál amire szüksége lehet a kezeléshez.</p>
                <a href="/apnoe-gyogyitasa/" class="card__more">Mi vár rám</a>
              </header>
              <figure class="card__fig">
                <a href="/apnoe-gyogyitasa/"><img src="http://placehold.it/640x320" alt=""></a>
              </figure>
            </div>
          </div>

          <div class="column ccol-3">
            <div class="card bginverse">
              <header class="card__head">
                <h3 class="card__title"><a href="/intezmenyek/">Hol kaphatok segítséget?</a></h3>
                <p class="card__excerpt">Az alvási apnoe jól kezelhető. Legtöbbször már a kezelés elején érezhető az állapot javulása.</p>
                <a href="/intezmenyek/" class="card__more">Gyógytó intézmények listája</a>
              </header>
              <figure class="card__fig">
                <a href="/intezmenyek/"><img src="http://lorempixel.com/640/320" alt=""></a>
              </figure>
            </div>

          </div>
        </div>
      </div>
  </div>
  </section>

  <section class="ps bginverse">
    <div class="row container">
      <div class="columns large-6">
        <h3>Lehet, hogy az apnoé teszi tönkre mindennapjait?</h3>
        <p>Egy perces tesztünkből, válaszai alpaján megtudhatja.</p>
        <a href="#" class="button small">Teszt indítása</a>
      </div>
      <div class="columns large-6">
        <h3>Itt találhat szakszerű segítség problémájára</h3>
        <p>Itt találhat lorem ipsum dolor sit amet</p>
        <a href="#" class="button small">Gyógyító intézmények</a>
      </div>
    </div>
  </section>
</main>


<!-- {% for post in site.posts %}
          <div class="column">
            <article class="post post--small">
              <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
              <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
            </article>
          </div>
{% endfor %} -->