---
layout: default
permalink: /apnoe-gyogyitasa/kezelesi-modszerek/
class: ccol-2
title: Obstruktív alvási apnoe kezelése
subtitle: Gyógyulás orvosi segítséggel
---
{% include hero.html %}

{% include subnav-apnoegyogyitasa.html %}

<main class="main" role="main">
  <section class="ps">
    <div class="row container">
      <div class="columns large-8">
        <h2 class="page__subtitle">{{page.subtitle}}</h2>
        <h1 class="page__title">{{page.title}}</h1>
        <p class="lead">Amennyiben a műszeres alvásvizsgálat során Önnél közepes vagy súlyos obstruktív alvási apnoe szindrómát állapítottak meg, kezelőorvosa az alábbi terápiás megoldásokat javasolhatja.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero fugit sint obcaecati, asperiores praesentium amet ab ipsum, commodi rerum tempora totam dolorem impedit voluptatem voluptas eligendi ipsam illum facere optio. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quidem aut dolor, iste, non beatae voluptatum harum excepturi, quam obcaecati earum optio dolore minima adipisci. Tempora id dolore ut ex.</p>
      </div>
      <div class="columns large-4">
        <div class="card bginverse">
          <header class="card__head">
            <h3 class="card__title"><a href="/apnoe-gyogyitasa/terapias-eszkozok/">Pihentető alvás horkolás nélkül</a></h3>
            <p class="card__excerpt">Gondolta volna, hogy lehet horkolás nélkül aludni? A készülékek az esetek többségében tünetmentessé teszik a betegséget.</p>
            <a href="/apnoe-gyogyitasa/terapias-eszkozok/" class="card__more">Ismerkedjen meg a eszközökkel</a>
          </header>

          <figure class="card__fig">
            <a href="/apnoe-gyogyitasa/terapias-eszkozok/"><img src="http://placehold.it/640x320" alt=""></a>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section class="ps bginverse">
    <div class="row container">
      <div class="columns">
        <h2>Kezelések és terápiák bemutatása</h2>
        <p class="lead">Amennyiben a műszeres alvásvizsgálat során Önnél közepes vagy súlyos obstruktív alvási apnoe szindrómát állapítottak meg, kezelőorvosa az alábbi terápiás megoldásokat javasolhatja.</p>
      </div>
    </div>
  </section>
  <section class="ps bginverse">
    <div class="row container">
      <div class="columns large-6">
        <h3>Folyamatos pozitív légúti nyomás terápia <small>(CPAP-terápia)</small></h3>
        <p>Az obstruktív alvási apnoe szindróma elsődleges és leghatékonyabb kezelési módja a CPAP terápia. Elnevezése az angol „continuous positive airway pressure”, azaz folyamatos pozitív légúti nyomás kifejezés rövidítéséből származik.</p>
        <p>A pozitív légúti nyomásterápia során a légutakat egy a lélegeztető készülékhez hasonló eszköz, az úgynevezett CPAP készülék akkorára nyitja, hogy a garatizomzat alvás közben ne tudjon elzáródni, s a levegő akadálytalanul haladhasson át rajta. Megszüntetve így a horkolást, az éjszakai légzéskimaradásokat, a véroxigénszint ingadozását, s lehetővé téve a pihentető mélyalvást.</p>
        <a href="/apnoe-gyogyitasa/terapias-eszkozok/" class="button small">CPAP készülékek bemutatása</a>
      </div>
      <div class="columns large-6">
        <h3>Szájüregben alkalmazott segédeszközök</h3>
        <p>Egyes enyhe vagy mérsékelt obstruktív alvási apnoe szindrómában szenvedő betegeknél jól használhatók a szájüregben alkalmazott segédeszközök, amelyek arra szolgálnak, hogy nyitva tartsák a légutat az állkapocs vagy a nyelv előrehozásával, illetve a lágyszájpad felemelésével.</p>
        <p>A súlyosabb apnoés betegek általában nem reagálnak erre a kezelésre. Ezek az eszközök néha fokozott nyálképződést, állkapocsfájdalmat, émelygést vagy fogászati problémákat okoznak. A szájüregben alkalmazott segédeszközöket csak képesített fogászati szakemberek helyezhetik fel.</p>
      </div>
    </div>
  </section>
  <section class="ps bgxlight">
    <div class="row container">
      <div class="columns large-6">
        <h3>Műtét</h3>
        <p>Az alvás közbeni légzést zavaró fizikai problémákat néha műtéti úton is lehet korrigálni. Az ilyen problémák közé tartoznak a megnagyobbodott mandulák vagy orrmandulák (gyerekek körében gyakori), az orrpolip és egyéb túltengések, az orrsövényferdülés, illetve az arc, az állkapocs és a lágyszájpad bizonyos méretei és/vagy formái.</p>
        <p>Az orrdugulás csökkentését célzó sebészi beavatkozások enyhíthetik a horkolást, de önmagukban általában nem hatásosak az obstruktív alvási apnoe szindróma kezelésében. Az orrműtét azonban része lehet az OSA átfogó műtéti kezelésének.</p>
      </div>
      <div class="columns large-6">
        <h3>Szomnoplasztika</h3>
        <p>Ez az eljárás rádióhullámok vagy mikrohullámok használatán alapszik. Ennek során a légutat úgy növelik, hogy a felső oldalán a garatívben található szöveteket zsugorítják. Nem műtéti eljárás, hanem ambuláns beavatkozás, csak kismértékű fájdalommal jár. Egy szondát helyeznek a légúti szövetekbe az energia szállítására.</p>
        <p>A szomnoplasztika enyhe esetekben csökkentheti a horkolás és az alvás közbeni légzésleállások mértékét. Az eddigi tanulmányok alapján nem sikerült még pontosan meghatározni, mely csoportok esetében a leghatékonyabb a szomnoplasztika, ezért érdemes kikérnie alvásgyógyászati szakértője véleményét, hogy az Ön esetében mennyire lehet sikeres a beavatkozás.</p>
      </div>
    </div>
  </section>
  <section class="ps bginverse">
    <div class="row container">
      <div class="columns large-6">
        <h3>UPPP</h3>
        <p>Az uvulopalatopharingoplasztika (rövidítése általában: UPPP) néven ismert műtét során eltávolítják a torok hátsó felén található szövetfelesleget, amely akadályozhatja a levegő útját alvás közben. A kimutatások szerint az UPPP az OSA betegek közel felénél hatásos, és jelenleg is folynak kutatások azon célcsoportok meghatározására, amelyek potenciálisan profitálhatnak belőle. Néhány páciensnél jelentkeznek a műtét mellékhatásai, mint például a megváltozott beszéd, és a nyeléskor az orrüregbe áradó folyadék.</p>
      </div>
      <div class="columns large-6">
        <h3>Oxigén</h3>
        <p>A kiegészítő oxigén adása általában nem jó kezelés az obstruktív alvási apnoe szindrómában szenvedő betegek számára. Oxigén adagolható viszont a CPAP rendszerbe tüdő- vagy szívbetegség miatti alacsony oxigénszint korrigálására.</p>
      </div>
    </div>
  </section>
  <section class="ps bglight">
    <div class="row container">
      <div class="columns large-6">
        <h3>Gyógyszeres kezelés</h3>
        <p>Az uvulopalatopharingoplasztika (rövidítése általában: UPPP) néven ismert műtét során eltávolítják a torok hátsó felén található szövetfelesleget, amely akadályozhatja a levegő útját alvás közben. A kimutatások szerint az UPPP az OSA betegek közel felénél hatásos, és jelenleg is folynak kutatások azon célcsoportok meghatározására, amelyek potenciálisan profitálhatnak belőle. Néhány páciensnél jelentkeznek a műtét mellékhatásai, mint például a megváltozott beszéd, és a nyeléskor az orrüregbe áradó folyadék.</p>
      </div>
    </div>
  </section>


<!--   <section class="ps bginverse">
    <div class="row container">
      <div class="columns large-8">
        <h2>Kezelési lehetőségek</h2>
        <p class="lead">Amennyiben a műszeres alvásvizsgálat során Önnél közepes vagy súlyos obstruktív alvási apnoe szindrómát állapítottak meg, kezelőorvosa az alábbi terápiás megoldásokat javasolhatja.</p>
      </div>
    </div>
  </section>

  <section class="ps">
    <div class="row container">
      <div class="columns large-6 large-push-6">
        <h3>Folyamatos pozitív légúti nyomás terápia <small>(CPAP-terápia)</small></h3>
        <p>Az obstruktív alvási apnoe szindróma elsődleges és leghatékonyabb kezelési módja a CPAP terápia. Elnevezése az angol „continuous positive airway pressure”, azaz folyamatos pozitív légúti nyomás kifejezés rövidítéséből származik.</p>
        <p>A pozitív légúti nyomásterápia során a légutakat egy a lélegeztető készülékhez hasonló eszköz, az úgynevezett CPAP készülék akkorára nyitja, hogy a garatizomzat alvás közben ne tudjon elzáródni, s a levegő akadálytalanul haladhasson át rajta. Megszüntetve így a horkolást, az éjszakai légzéskimaradásokat, a véroxigénszint ingadozását, s lehetővé téve a pihentető mélyalvást.</p>
        <a href="/apnoe-gyogyitasa/terapias-eszkozok/" class="button small">CPAP készülékek bemutatása</a>
      </div>
    </div>
  </section>

  <section class="ps bgxlight">
    <div class="row container">
      <div class="columns large-6">
        <h3>Szájüregben alkalmazott segédeszközök</h3>
        <p>Egyes enyhe vagy mérsékelt obstruktív alvási apnoe szindrómában szenvedő betegeknél jól használhatók a szájüregben alkalmazott segédeszközök, amelyek arra szolgálnak, hogy nyitva tartsák a légutat az állkapocs vagy a nyelv előrehozásával, illetve a lágyszájpad felemelésével.</p>
        <p>A súlyosabb apnoés betegek általában nem reagálnak erre a kezelésre. Ezek az eszközök néha fokozott nyálképződést, állkapocsfájdalmat, émelygést vagy fogászati problémákat okoznak. A szájüregben alkalmazott segédeszközöket csak képesített fogászati szakemberek helyezhetik fel.</p>
      </div>
    </div>
  </section>




  <section class="ps">
    <div class="row container">
      <div class="columns large-6 large-push-6">
        <h3>Műtét</h3>
        <p>Az alvás közbeni légzést zavaró fizikai problémákat néha műtéti úton is lehet korrigálni. Az ilyen problémák közé tartoznak a megnagyobbodott mandulák vagy orrmandulák (gyerekek körében gyakori), az orrpolip és egyéb túltengések, az orrsövényferdülés, illetve az arc, az állkapocs és a lágyszájpad bizonyos méretei és/vagy formái.</p>
        <p>Az orrdugulás csökkentését célzó sebészi beavatkozások enyhíthetik a horkolást, de önmagukban általában nem hatásosak az obstruktív alvási apnoe szindróma kezelésében. Az orrműtét azonban része lehet az OSA átfogó műtéti kezelésének.</p>
      </div>
    </div>
  </section>

  <section class="ps bgxlight">
    <div class="row container">
      <div class="columns large-6">
        <h3>Szomnoplasztika</h3>
        <p>Ez az eljárás rádióhullámok vagy mikrohullámok használatán alapszik. Ennek során a légutat úgy növelik, hogy a felső oldalán a garatívben található szöveteket zsugorítják. Nem műtéti eljárás, hanem ambuláns beavatkozás, csak kismértékű fájdalommal jár. Egy szondát helyeznek a légúti szövetekbe az energia szállítására.</p>
        <p>A szomnoplasztika enyhe esetekben csökkentheti a horkolás és az alvás közbeni légzésleállások mértékét. Az eddigi tanulmányok alapján nem sikerült még pontosan meghatározni, mely csoportok esetében a leghatékonyabb a szomnoplasztika, ezért érdemes kikérnie alvásgyógyászati szakértője véleményét, hogy az Ön esetében mennyire lehet sikeres a beavatkozás.</p>
      </div>
    </div>
  </section>


  <section class="ps">
    <div class="row container">
      <div class="columns large-6 large-push-6">
        <h3>UPPP</h3>
        <p>Az uvulopalatopharingoplasztika (rövidítése általában: UPPP) néven ismert műtét során eltávolítják a torok hátsó felén található szövetfelesleget, amely akadályozhatja a levegő útját alvás közben. A kimutatások szerint az UPPP az OSA betegek közel felénél hatásos, és jelenleg is folynak kutatások azon célcsoportok meghatározására, amelyek potenciálisan profitálhatnak belőle. Néhány páciensnél jelentkeznek a műtét mellékhatásai, mint például a megváltozott beszéd, és a nyeléskor az orrüregbe áradó folyadék.</p>
      </div>
    </div>
  </section>

  <section class="ps bgxlight">
    <div class="row container">
      <div class="columns large-6">
        <h3>Oxigén</h3>
        <p>A kiegészítő oxigén adása általában nem jó kezelés az obstruktív alvási apnoe szindrómában szenvedő betegek számára. Oxigén adagolható viszont a CPAP rendszerbe tüdő- vagy szívbetegség miatti alacsony oxigénszint korrigálására.</p>
      </div>
    </div>
  </section>

  <section class="ps">
    <div class="row container">
      <div class="columns large-6 large-push-6">
        <h3>Gyógyszeres kezelés</h3>
        <p>Maecenas sed diam eget risus varius blandit sit amet non magna. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Vestibulum id ligula porta felis euismod semper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia bibendum nulla sed consectetur.</p>
      </div>
    </div>
  </section>
 -->


</main>
